.sidenav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #fff;
   overflow-x: hidden;
   xtransition: 0.5s;
   padding-top: 60px;
}
.sidenav a {
   padding: 8px 8px 8px 12px;
   text-decoration: none;
   font-size: 16px;
   color: #818181;
   display: block;
   xtransition: 0.3s;
}
.sidenav a:hover {
   color: #f1f1f1;
}
.sidenav .closebtn {
   position: absolute;
   top: 0;
   left: 0;
   font-size: 20px;
   margin-left: 0px;
}
.sidenav .gridbtn{
   position: absolute;
   top:2px;
   right:22px; 
   cursor: pointer;
}
.sidenav .listbtn{
   position: absolute;
   top:2px;
   right: 0; 
   cursor: pointer;
}
.serachbtn{
   position: absolute;
   right: 60px;
   top: 7px;
   width: 150px;
   overflow: hidden;
}
.form-control:focus{
   box-shadow: 0 0 0 0.2rem #ced4da;
   border-color: transparent;
}
.serachbtn select{

   height: calc(1.8rem + 2px) !important;
   xborder-radius: 18px;
   font-size: 12px;

}
.btn-submit-section{
   border-radius: 0px !important;
   color: #fff !important;
   position: absolute;
   bottom: 0;
   width: 100%;
   font-size: 16px !important;
   font-weight: 600;
}
#main {
   xtransition: margin-left .5s;
   padding: 16px;
}
.statusofquestion{
   position: absolute;
   width: 109%;
   bottom: 40px;
   margin-left: -30px;
   background-color: #fff;
}
.statusofquestion ul{
   list-style: none;
}
.statusofquestion ul li{
   list-style: none;
   width: 50%;
   float: left;
   font-size: 12px;
}
.green{
 color: #28a745;
 font-size: 17px;
}
.red{
 color: red;
 font-size: 17px;
}
.gray{
 color: #ccc;
 font-size: 17px;
}
.yellow{
 color: yellow;
 font-size: 17px;
}
.questionciler{
   height: 85%;
   overflow: scroll;
   margin-top: -15px;
}
.questionciler a{
  padding: 11px;
margin: 12px 12px;
border-radius: 100%;
color: white;
width: 20px;
height: 20px;
float: left;
position: relative;
}
.questionciler a p{
  position: absolute;
  top: 2px;
  left: 7px;
  font-size: 13px !important;
}
.questionciler ul li p{
  font-size: 13px;
}
.listview a{
 float: inherit !important;
}
.listview{
 display: none;
}
.listview ul{
 list-style: none;
 margin-left: -41px;
}
.listview ul li{
 float: left;
 width: 80%;
 font-size: 16px;
 height: 35px;
 overflow: hidden;
}
.mrtop{
 margin-top: 13px;
}
.icons-width{
 width: 20% !important;
 float: left;
}
.right-answer{
  background-color: #28a745;
}
.wrong-answer{
  background-color: red;
}
.attempt{
  background-color: #3a3a00;
}
.unattempt{
  background-color: #ccc;
}
.togllemenu{
 font-size: 16px;
 font-weight: bolder;
 cursor:pointer;
 color: #7d7777;
}

/*****------ header **/
.header-tab-menu{
 width: 20%;
 display: inline-block;
 float: left;
}
.header-tab-time{
 width: 58%;
 float: left;
}
.header-tab-lang{
 width: 20%;
 float: left;
 margin-bottom: 20px;
}
.togll-lang{
 float: right;
 font-size: 18px;
 color: #7d7777 !important;
}
.header-tab-time a{
 float: left;
 margin-right: 10px;
 margin-left: 52px;
 font-size: 18px;
 color: #7d7777 !important;
}
.subject-cate select{
 font-size: 14px;
}

/*------- question section ----*/
.questions-section{
 padding: 16px;
}
.question-q{
 font-size: 13px;
}
.question-q p{
 color: #615d5d;
}
.question-q p span{
 font-weight: bolder;
}
.subject-cate{
 padding: 15px;
}
.swiper-container { width: 100%;}
.swiper-slide {overflow: hidden;}





@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 360px) {
 .questionciler{
   height: 79%;
 }
 .statusofquestion ul li{
   font-size: 10px;
 }
 .btn-submit-section{
   font-size: 14px !important;
 }
}