body{
   background-color: #f1f1f1;
   padding: 10px;
  }
   .number{
     font-weight: bolder;
   }
   .question-number li{
     display: inline-block;
     color: #757575;
     font-size: 20px;
 
   }
   .question-number{
     margin-bottom: 0rem;
     margin-left: -40px;
   }
   h4{
     color: #616161;
     xtext-transform: capitalize;
   }
   .btn-block{
     padding: 10px;
     margin: 8px 0px; 
     text-align: left;
     color: #616161;
     font-weight: bolder;
     background-color: #fff;
   }
   
   .worng-answer{
     color: red;
   }
   .black{
     color: #000;
     font-weight: 400;
   }
   .right-answer{
     color: #4db55f;
   }
   p{
     margin:0px;
     font-weight: 500;
   }

   .header{
      background: #e4e4e4;
      padding: 10px;
      width: 100%;
      height: 45px;
      xoverflow: hidden;
    }
    .race-number .fa-circle {
      color: #d48467;
    }
    .race-number span{
      font-weight: bold;
    }
    .header-title h3{
      font-size: 15px;
      line-height: 1px;
    }
    .header-title p{
      font-size: 12px;
    }
    .header-title {
      padding: 3px 18px;
    }
    .score-board{
      padding: 35px 50px;
      position: relative;
      background-color: #fff;
      margin: 10px 0px;
      border-radius: 5px;
      overflow: hidden;
    }
    .score-board h1{
      text-align: center;
      color: #00BCD4;
    }
    .score-board h2{
      text-align: center;
      text-transform: uppercase;
      font-size: 22px;
    }
    .score-board h3{
      text-align: center;
      font-size: 17px;
      color: #9c9c9c;
    }
    .share-icon{
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .question-board{
      padding: 35px 10px;
      position: relative;
      background-color: #fff;
      margin: 10px 0px;
      border-radius: 5px;
      overflow: hidden;
    }
    .action-question{
      width: 100%;
    }
    .action-question .reattampt{
      float: left;
      margin:2px;
    }
    .action-question .viewsolution{
      float: left;
      margin:2px;
    }
    .action-question .leader-board{
     float: left;
     margin:2px;
    }
    .btn1{display: -webkit-box}
    .all-subject-ques{
      list-style: none;
      margin-left: -28px;
  
    }
    .all-subject-ques-scr{
      list-style: none;
    }
    #demo{
      padding: 15px 0px;
      position: relative;
    }
    .postt{
      position: absolute;
      right: 26px;
      top: 62px; 
    }
    .topic-ana{
      padding: 21px 0px;
      position: relative;
    }
    .topic-ana h2{
      font-size: 22px;
    }
    .weak-area-board{
      padding: 35px 15px;
      position: relative;
      background-color: #fff;
      margin: 10px 0px;
      border-radius: 5px;
      overflow: hidden;
    }
    .recomded{
      padding: 35px 15px;
      position: relative;
      background-color: #fff;
      margin: 10px 0px;
      border-radius: 5px;
      overflow: hidden;
    }
    .recomded h2{
      font-size: 22px;
    }
    .recomded h3{
      font-size: 15px;
    }
    .weak-area-board h2{
      font-size: 22px;
    }
    .recommended-topic{
      padding: 15px 0px;
    }
  .right-answer{
     background-color: #28a745;
  }
  .wrong-answer{
     background-color: red;
  }
  .attempt{
     background-color: #3a3a00;
  }
  .unattempt{
     background-color: #ccc;
  }
  .right-answer-r{
     color: #28a745 !important;
  }
  .unattempt-r span{
     color: #000 !important;
  }
  .attempt-r span{
     color: #000 !important;
  }
  .right-answer-r span{
     color: #000 !important;
  }
  .wrong-answer-r span{
     color: #000 !important;
  }
  .wrong-answer-r{
     color: red !important;
  }
  .attempt-r{
     color: #3a3a00 !important;
  }
  .unattempt-r{
     color: #ccc !important;
  }
  .questionciler ul{
     list-style: none;
     margin-left: -32px;
  }
  
  .questionciler ul li{
     width: 15%;
     float: left;
  }
  .questionciler a{
     padding-top:6px;
     margin: 10px;
     border-radius: 100%;
     color: #fff;
     width: 30px;
     height: 30px;
     float: left;
     position: relative;
     text-align: center;
  }
  .questionciler a p{
     font-size: 13px;
  }
  .question-number li span{
    font-size: 13px;
  }
  .question-number li{
    font-size: 15px;
  }
  @media only screen and (max-width: 375px) 
  {
     .btn-success{
        font-size: 14px;
     }
     .question-number li span {
      font-size: 11px;
     }
  }

  .share-btn{
   width:50%;
   margin:0px auto;
}
.share-btn a{
   width:100%;
}
.score-board-one{
   background-color: #fff;
}
.margin{
   margin:5px;
}
.margin-top{
   margin-top:5px;
}
.margin-right{
   margin-right:5px;
}
.margin-left{
   margin-left:5px;
}
.margin-bottom{
   margin-bottom:5px;
}


.margin10{
   margin:10px;
}
.margin-top10{
   margin-top:10px;
}
.margin-right10{
   margin-right:10px;
}
.margin-left10{
   margin-left:10px;
}
.margin-bottom10{
   margin-bottom:10px;
}

.subject_counter{
  position: absolute;
  right:  10px;
}