body{
    background-color: #f1f1f1;
    padding: 10px;
}

.alert , .btn {
    border-radius: 0px;
}
.logo{
    color: #03a9f4;
    margin-bottom: 30px;
}
.score{
    color: #757575;
    margin-bottom: 30px;
}
.number{
    font-weight: bolder;
}
/* .question-number li{
    display: inline-block;
    font-size: 13px;
    
} */

    .question-number li{
        display: inline-block;
        font-size: 12px;
        width: 30px;
        background: #d6d8d9;
        min-width: 12px;
        margin: 10px;
        text-align: center;
        padding: 11px 5px;
        border-radius: 20px;
        color: whitesmoke;
        font-weight: bolder;
    }

.question-number{
    /* margin-bottom: 0rem;
    margin-left: -40px;
    margin-top: 5px!important; */
}

h4{
    color: #616161;
    xtext-transform: capitalize;
}
.btn-block{
    padding: 10px;
    margin: 8px 0px;
    text-align: left;
    color: #616161;
    font-weight: bolder;
    background-color: #fff;
}
.quest{
    margin-bottom: 50px;
}
.worng-answer{
    color: red;
}
.black{
    color: #000;
    font-weight: 400;
}
.right-answer{
    color: #4db55f;
}
p{
    margin: 0px;
    font-weight: 500;
}
.persentage-right{
    position: relative;
    height: 50px;
    overflow: hidden;
    margin-top: 20px;
    background-color: #fff;
    width: 100%;
}
.copyright{
    font-size: 11px;
    margin: 14px 0px;
    color: #ababab;
}
.tab-head{
    background-color: #94deff;
}
.tab-body{
    background-color: #ddf2fb;
}
.fa-exclamation-triangle{
    color: red;
}
.feedback{
    margin: 8px 0px;
    border-bottom: 2px solid #ccc;
    width: 100%;
    padding: 8px 0px;
}
.feedback p{
    color: #216fc3;

}
.left .popular .box {
    margin-bottom: 30px;
    min-height: 60px;
}
.box-pop {
    width: 60px;
    background-color: #ccc;
    float: left;
    margin-right: 15px;
}
.left .popular .box p {
    font-size: 14px;
    color: #000;
    margin: 0;
    float: left;
}
.left .popular .box img{
    width: 100%;
}
.foot{
    background-color: #fff;
    height: 60px;
    width: 100%;
    padding: 13px;
}
.next-btn{
    width: 30%;
}
.card{
    margin-top: 55px;
}

img {
    width: 100% !important;
    height: auto !important;
    margin: 0 auto !important;
    padding: 1%;
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}
.hide{
    display: none;
}
.answers{
    font-size: 13px;
    cursor: pointer;
}
.question-number{
    line-height: 0.6;
}
#question_meta{
    margin-top: 20px;
}
.mg-btm{
    margin-bottom: 15px;
    font-weight: bold;
    text-align: justify;
    font-size: 14px;
}
.logo{
    margin-bottom: 0px;
}
.score{
    margin: 5px 0px;
}
.bullet-default{
    color: #757575;
}
.bullet-active{
    /* color: #eded12e6; */
    background: #c6c625e6 !important;
}
.bullet-danger{
    /* color: #f9081e; */
    background: #f9081e !important;
}
.bullet-success{
    /* color: #11de3f; */
    background: #11de3f !important;
}


        .timer_div{
            color: #17a2b8;
            transition-timing-function: linear;
        }
        .float-right.per_percent {
            color: #848282;
            margin: 1px -14px 0px;
            font-size: 10px;
        }
        .explaination_head {
            font-size: 17px;
            border-bottom: 1px solid #656565;
            color: #656565;
            padding-bottom: 2px;
        }
        .description_element p {
            font-size: 13px;
        }
        .report_text {
            margin: 10px 0px;
            font-size: 14px;
            color: #9e0b0b;
        }
        .report_text a{
            color: #9e0b0b;
        }
        .c_right_text{
            margin: 10px 0px;
            font-size: 13px;
            color: #656565;
        }
        /*--- model ---*/
        .modal-header .error {
            color: #fce795;
            text-align: center;
            font-size: 45px;
            width: 100%;
        }
        .modal-header .modal-title {
            font-size: 21px;
            font-weight: 700;
            text-align: center;
            color: #4a4a4a;
        }
        .modal-title {
            margin: 0;
            line-height: 1.42857143;
        }
        .modal-header .modal-sub-title {
            font-family: Arial;
            font-size: 14px;
            text-align: center;
            color: black;
        }
        .report-form {
            max-width: 340px;
            display: block;
            margin: 0 auto;
        }
        .report-form > .form-group > textarea.form-control {
            resize: vertical;
        }
        .report-form > .form-group > .form-control {
            border-radius: 0;
        }
        .submit-button {
            text-align: center;
            margin: 20px;
        }
        .btn-marrow-2 {
            font-size: 12px;
            font-weight: 700;
            text-align: center;
            color: white;
            background-color: #62c8df;
            -webkit-box-shadow: 0 2px 4px 0 #0000001a;
            box-shadow: 0 2px 4px 0 #0000001a;
            border-radius: 0;
            padding: 10px 20px;
        }


        .sidenav {
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #fff;
            overflow-x: hidden;
            xtransition: 0.7s;
            padding-top: 60px;
            display:none;
        }
        .sidenav a {
            padding: 8px 8px 8px 12px;
            text-decoration: none;
            font-size: 16px;
            color: #818181;
            display: block;
            xtransition: 0.3s;
        }
        .sidenav a:hover {
            color: #f1f1f1;
        }
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 20px;
            margin-left: 0px;
        }
        .sidenav .gridbtn{
            position: absolute;
            top:2px;
            right:22px; 
        }
        .sidenav .listbtn{
            position: absolute;
            top:2px;
            right: 0; 
        }
        .serachbtn{
            position: absolute;
            right: 60px;
            top: 7px;
            width: 150px;
            overflow: hidden;
        }
        .form-control:focus{
            box-shadow: 0 0 0 0.2rem #ced4da;
            border-color: transparent;
        }
        .serachbtn select{

            height: calc(1.8rem + 2px) !important;
            xborder-radius: 18px;
            font-size: 12px;

        }
        .btn-submit-section{
            border-radius: 0px !important;
            color: #fff !important;
            position: absolute;
            bottom: 0;
            width: 100%;
            font-size: 16px !important;
            font-weight: 600;
        }
        #main {
            xtransition: margin-left .5s;
            padding: 16px;
        }
        .statusofquestion{
            position: absolute;
            width: 109%;
            bottom: 40px;
            margin-left: -30px;
            background-color: #fff;
        }
        .statusofquestion ul{
            list-style: none;
        }
        .statusofquestion ul li{
            list-style: none;
            width: 50%;
            float: left;
            font-size: 12px;
        }
        .green{
            color: #28a745;
            font-size: 17px;
        }
        .red{
            color: #c82333;
            font-size: 17px;
        }
        .gray{
            color: #ccc;
            font-size: 17px;
        }
        .yellow{
            color: yellow;
            font-size: 17px;
        }
        .questionciler{
            height: 85%;
            overflow: scroll;
            margin-top: -15px;
        }
        .questionciler a{
            margin: 7px 6px;
            color: #fff;
            position: relative;
            text-align: center;
            width: 10%;
            border-radius: 100%;
            float: left;
            padding: 4px;
            font-size: 11px;
        }

        .listview a{
            float: inherit !important;
        }
        .listview{
            display: none;
        }
        .listview ul{
            list-style: none;
            margin-left: -41px;
        }
        .listview ul li{
            float: left;
            width: 97%;
            font-size: 16px;
            height: 41px;
            overflow: hidden;
        }
        .mrtop{
            margin-top: 9px;
            font-size: 12px;
            /* width: 97%; */
            overflow: hidden;
            height: 20px;
        }
        .icons-width{
            /*width: 20% !important;*/
            float: left;
        }
        .right-answer{
            background-color: #28a745;
        }
        .wrong-answer{
            background-color: red;
        }
        .attempt{
            background-color: #3a3a00;
        }
        .unattempt{
            background-color: #ccc;
        }
        .togllemenu{
            font-size: 16px;
            font-weight: bolder;
            cursor:pointer;
            color: #7d7777;
        }

        /*****------ header **/
        .header-tab-menu{
            width: 20%;
            display: inline-block;
            float: left;
        }
        .header-tab-time{
            width: 58%;
            float: left;
        }
        .header-tab-lang{
            width: 20%;
            float: left;
            margin-bottom: 20px;
        }
        .togll-lang{
            float: right;
            font-size: 18px;
            color: #7d7777 !important;
        }
        .header-tab-time a{
            float: left;
            margin-right: 10px;
            margin-left: 52px;
            font-size: 18px;
            color: #7d7777 !important;
        }
        .subject-cate select{
            font-size: 14px;
        }

        /*------- question section ----*/
        .questions-section{
            padding: 16px;
        }
        .question-q{
            font-size: 13px;
        }
        .question-q p{
            color: #615d5d;
        }
        .question-q p span{
            font-weight: bolder;
        }
        .subject-cate{
            padding: 15px;
        }
        .swiper-container { width: 100%;}
        .swiper-slide {overflow: hidden;}





        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }
        @media screen and (max-width: 360px) {
            .questionciler{
                height: 79%;
            }
            .statusofquestion ul li{
                font-size: 10px;
            }
            .btn-submit-section{
                font-size: 14px !important;
            }
        }

        .fa-st {
            font-size: 21px;
        }

        .loader{
            display:none;
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #c3c6ce;
            opacity: 0.7;
        }

        .loader i {
            margin: 50% 0% 1% 40%;
        }