
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');    
@import url('https://fonts.googleapis.com/css?family=Roboto');
.badge-notify{
    background: red;
    position: relative;
    top: -12px;
    left: -12px;
    color: white;
    font-size: 12px;
  }
  .goog-te-banner-frame.skiptranslate {
      display: none !important;
      } 
  body {
      top: 0px !important; 
      }
      .btn1:hover{
        background-color: #FDDDCF !important;
      }
      .btn2:hover{
        background-color: #C4EEF5 !important;
      }
      /* CSS used here will be applied after bootstrap.css */
  .notification-list li { 
       border-bottom: none; 
      display: block;
      position: relative;
      transition: all .3s ease; 
      padding: 4px 10px;
  }
  
  .glyphicon-bell {
     
      font-size:1.5rem;
    }
  
  .notifications {
     min-width:420px; 
    }
    
    .notifications-wrapper {
      overflow: auto;
      max-height: 250px;
      width: 100%;
  }
      
   .menu-title {
       color:#3aa4ff;
       font-size:17px;
        display:inline-block;
        font-weight: 500;
        float: right;
        }
        .menu-title1 {
       color:black;
       font-size:17px;
        display:inline-block;
        font-weight: 500
        }
   
  .glyphicon-circle-arrow-right {
        margin-left:10px;     
     }
    
     
   .notification-heading, .notification-footer  {
    padding:2px 10px;
         }
        
          
  .dropdown-menu .divider {
    margin:5px 0;  
    height: 0px;       
    }
  
  .item-title {
    
   font-size:1.3rem;
   color:#000;
      
  }
  
  .notifications a.content {
   text-decoration:none;
   background:#ccc;
  
   }
      
  .notification-item {
   /*padding:10px;*/
   margin:5px;
   /*background:#ccc;*/
   border-radius:4px;
   }
   .notification-list li{
    background-color: #d3def2
   }
   /* 11-12-18 */
  .btn-i.chck_sessions{     
    padding: 10px 20px;
    font-size: 18px;
    background: #38a9ff;
    }
    .bg-bgdmci{
        background: #fff;
        box-shadow: 1px 1px 10px 2px;
    }

    /* ********************************************************************** */
    /* *************************** footer *********************************** */

    .fix-bottom{ 
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 9;    
        color: white;
        text-align: center;
    }
    .bottom-fix-bg {
        background:#fff;
        /* border-top-right-radius:20px;
        border-top-left-radius:20px; */
        -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.4);
        -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.4);
        box-shadow: 0px 0px 10px rgba(0,0,0,.4);
        bottom: 0px;
        display: block;
        opacity: 1;
        width: fit-content;
        width: -moz-fit-content;
        margin: 0px auto;
        padding:5px;
    }
    .bottom-fix-bg ul{margin-bottom: 0px;}
    .bottom-fix-bg ul li{padding-right: 20px;}

    /* ********************************************************************** */
    /* *************************** footer EnD *********************************** */

    /* ********************************************************************** */
    /* *************************** slider *********************************** */

     /*.feature-area .page-title .title {
        color: #ffffff;
    }
    .page-title .title {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: #8790af;
        font-weight: 600;
    }
    .text-center.page-title .title:before, .page-title .title:after {
        content: '';
        width: 50px;
        height: 1px;
        display: inline-block;
        background-color: #e1e1e1;
        margin: 0 15px;
        -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    .text-center.page-title .title:before, .page-title .title:after {
        content: '';
        width: 50px;
        height: 1px;
        display: inline-block;
        background-color: #e1e1e1;
        margin: 0 15px;
        -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        transform: translateY(-4px);
    } */
    /* .team-slide{display: inline-flex;} */
/*================================================*/
.carousel-item > div {
  float: left;
}
.carousel-by-item [class*="cloneditem-"] {
  display: none;
}