.loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('/web_assets/img/preloader.gif') 50% 50% no-repeat rgb(249,249,249);
        opacity: 1.9;
    }
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background: #ED1D24; 
        border-radius: 5px;
    }

.main-header-i .Navbar {
    background-color: #fff;
    display: flex;
    padding: 16px 0px 0px;
    color: #000;
}
.main-header-i .Navbar__Link {
    padding-left: 25px;
    text-align: center;
}
.main-header-i .Navbar__Items {
    display: -webkit-box;
}
.main-header-i .Navbar__Items--right {
    margin-left: auto;
}
.main-header-i .Navbar__Link-toggle {
    display: none;
}
.main-header-i .Navbar__Link-brand{ padding: 0px 0;}
.main-header-i .form-group {
    margin-bottom: 0;
}
header {
    background: #fff;
   box-shadow:5px -5px 5px 10px rgba(0, 0, 0, .05);
}
/*
.main_search_bar {
    width: 50%;
    margin: 50px auto;
}*/


.main-header-i .has-search .form-control {
    padding-left: 38px;
    max-height: 30px;
    margin-top: 6px;
  border-radius: 20px;
}
.main-header-i .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 22px;
    height: 36px;
    line-height: 38px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    padding-left: 10px;
    left: 0;
}
.main-header-i .Navbar p {
    color: #000
}
.hero-banner-i {
    background: url('/web_assets/img/hero-banner.jpeg') no-repeat;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /*background-position: center center;*/
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0px;
}
.hero-banner-form .socials-shared{padding:10px;}
.hero-banner-form {
    background: #fff;
    padding: 10px;
    margin-top: 13px;
    border-radius: 4px
}
.hero-banner-content-title h2{color:#fff; max-width: 80%; padding-top: 60px;}
.hero-banner-content-title span{color:#f5d900;}
.hero-banner-content ul{padding: 20px 0;}
.hero-banner-content ul li{padding: 20px 0;}
.hero-banner-content ul li span{color:#fff;}
.hero-banner-content ul li span{padding-left: 20px; font-size: 15px;}

.social-signup .btn-group-lg>.btn, .btn-lg {
    padding: 10px 9px;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #fff!important;
}
.hero-banner-form .form-group {
    margin-bottom: 6px;
}
.hero-banner-form .label-floating .form-control, .hero-banner-form .label-floating input, .hero-banner-form .label-floating select {
    padding: 7px;
    line-height: 2.5;
}
.btn-i {
    background: #0093dd;
    border-color: #0093dd;
}
 
.btn-i:hover {
    background-color: #3aa4ff;
    border-color: #3aa4ff;
    opacity: 1;
}
.subject-list-nu {
    text-align: center;
}
.subject-list {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.12);
}
    .d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
    .flex-fill {
    -ms-flex: 1 1 auto!important;
    flex: 1 1 auto!important;
}
   .subject-cate-list img {    width: 50px;    height: 50px;    margin-top: 7px; margin-left: -2px;    position: relative;}
    .subject-cate-list  {padding-bottom: 20px;}
    .subject-list-nu img {
        width: 70px;
        height: 70px;
        margin: 0px;
    }
    .why-ibt{
        /* background: #2b18dd!important;
        background: -webkit-linear-gradient(-180deg, #11478f 0%, #56a2ff 50%, #0093dd 100%)!important;
        background: linear-gradient(-180deg, #11478f 0%, #56a2ff 50%, #0093dd 100%)!important;
        padding: 30px 0; */
    }
    .why-ibt-box{background: #fff;
    padding: 30px;
    height: 400px;
    overflow: hidden;}
    .why-ibt-box-title{font-size: 24px;
    color: #002f3d;
    font-weight: bold;}
    .why-ibt-box-details p{font-size: 18px;color: #072e3d;}
    .why-ibt-box img{padding: 30px 0;}
    .why-ibt .section-title h2 {color: #fff; padding-bottom:20px; }
  .section-title h2{font-weight: 500;}
    
.testimonial .card {
  margin: 0 auto;
}
.testimonial .card .carousel-item {
  height: 200px;
  padding: 124px 0;
}
.testimonial .card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  color: #3d3d3d;
}
.testimonial .card .carousel-caption h3 {
  color: #3d3d3d;
  font-weight: 500;
}
.testimonial .card .carousel-caption small{font-size:16px;}
.testimonial .card .carousel-caption p {
  line-height: 30px;
}
.testimonial .card .carousel-caption .col-sm-3 {
  display: flex;
  align-items: center;
}
.testimonial .card .carousel-caption .col-sm-9 {
  text-align: left;
}
.navi a {
    text-decoration:none;
}
a > .ico {
    background-color: grey;
    padding: 10px;
    
}
a:hover > .ico {
    background-color: #666;
}
    .choose-exam,.testimonial{background: #fff; padding: 30px 0;
    }

  .main-box .choose-exam a{color:#000;}
    .testimonial .card{
        box-shadow: 0px 0px 15px 5px rgba(34,34,34,0.09);
        
    }
    .get-sms{line-height: 2.3;}
    .download-app{
    background-image: url(/web_assets/img/app_download.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding:0px 0px;
        color: #fff;
}
.download-app .section-title h2{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.download-app .section-title h4{
    color: #fff;
    font-weight: 400;
}
.download-app .section-title p{
    font-size: 16px;
    line-height: 2.5;
    padding: 15px 13px; 
}
    /* .app-store img{max-width: 340px;} */
     .app-store img{max-width: 135px;} 
    
    .download-app .form-inline{
        padding: 0px;
        background: white;
        /* max-height: 50px; */
        margin: 20px 16px;
        border-radius: 5px;
}
.download-app .form-inline .form-control {
    display: block;
    width: 100%;
    padding: .5rem 1.5rem;}

    #send_sms .button.btn {
    padding: .3rem 1rem;
}

    .i-footer{background:#017CC2;padding: 10px 0; color: #fff;}
  .i-footer ul li a{color:#fff;}
  .footer-social {float: right;}
  .i-footer ul{margin-bottom: 0px;}
  .footer-social{height: 30px;}

  @-webkit-keyframes bounce {
    0% { transform: translateY(-5px)  }
    50% { transform: translateY(10px) }
    100% { transform: translateY(-5px) }
}

@keyframes bounce {
    0% { transform: translateY(-5px)  }
    50% { transform: translateY(10px) }
    100% { transform: translateY(-5px) }
}

#gradient1
{
  width: 200px;
    height: 45px;
 
  /* margin: 0px;
  border-color:transparent!important;
  color:#fff!important;

    -webkit-animation: bounce 3s infinite ease-in-out;
    -o-animation: bounce 3s infinite ease-in-out;
    -ms-animation: bounce 3s infinite ease-in-out; 
    -moz-animation: bounce 3s infinite ease-in-out; 
    animation: bounce 3s infinite ease-in-out; */
}
.form-control:focus {
    color: #495057;
    background-color: transparent;
    border-color: #badcff;
    outline: 0;
    box-shadow: none;
}
    .fixed-height{
    width: 100%;
    height: 115px;
}

.hero-banner-content ul li a span{font-size:16px;}
.main_search_bar{
    min-width: 320px;
    margin-right: 50px;
}

/* The customcheck */
.customcheck {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    right:-20px;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border-radius: 50px;
}

.customcheck:hover input ~ .checkmark {
    background-color: #ccc;
}

.customcheck input:checked ~ .checkmark {
    background-color: #4CAF50;
    border-radius: 50px;
}

.checkmark:after {

    position: absolute;
    display: none;
}

.customcheck input:checked ~ .checkmark:after {
    display: block;
}

.customcheck .checkmark:after {
    left:12px;
    top:9px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.custom-bg {
    display: block;
    width: 65px;
    border-radius: 50px;
    height: 65px;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.scroll-bar-wrap {    position: relative;}  
.scroll-box {  width: 100%;  height: 400px;  overflow-y: scroll;}
.scroll-box::-webkit-scrollbar {  width: .4em; }
.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {  overflow:visible;  border-radius: 4px;}
.scroll-box::-webkit-scrollbar-thumb {  background: rgba(0,0,0,.2); }
.cover-bar {  position: absolute;  background: #fff;  height: 100%;    top: 0;  right: 0;  width: .4em;  -webkit-transition: all .5s;  opacity: 1;}
/* for hide scrollbar*/
.scroll-bar-wrap:hover .cover-bar {   opacity: 0;  -webkit-transition: all .5s;}

@media (min-width: 1200px) and (max-width: 1920px) {
    .fixed-height {
    width: 100%;
    height: 135px;
}}


/* for non-register */
.scroll-container ul {display:flex; margin-bottom: 0;}
.scroll-container ul .dropdown-toggle::after {
    border-top-color: #fff;
    right: 0px;
    top: 0px;
    position: relative;
}
.choose-exam-menu{background: #0093dc;}
.scroll-container ul li>a{color:#fff;}
  .choose-exam-list{padding: 10px 0px 0px;}
    .choose-exam-list .sel-exe{font-size: 20px; font-weight: 500; color:#000;}
    .choose-exam-list .span{font-size: 16px; font-weight: 500; color:#000;}
    .fix-bottom{ position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9;    
    color: white;
    text-align: center;}
    .bottom-fix-bg {
        background:#fff;
        /* border-top-right-radius:20px;
        border-top-left-radius:20px; */
        -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.4);
        -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.4);
        box-shadow: 0px 0px 10px rgba(0,0,0,.4);
        bottom: 0px;
        display: block;
        opacity: 1;
        width: fit-content;
        width: -moz-fit-content;
        margin: 0px auto;
        padding:5px;
    }
    .bottom-fix-bg ul{margin-bottom: 0px;}
    .bottom-fix-bg ul li{padding-right: 20px;}
    
    
  /*===========================================================
    new css
    ======================================================= */
    .fix-left{position: fixed;
    left: 0;
    top: 300px;}
    .choosed-desc{background: #fff; color:#000;}
    .choose-exam-list {
    padding: 10px 0px 0px;
    background: #fff;
           }
          .choosed-desc p {
    text-align: center;
    font-size: 14px;
    line-height: 1.6;
    color: #252526;
}
.fix-right{position: fixed;
    right: 0;
    top: 300px;}

.bottom-fix-bg ul .active{background: #ddd;    padding: 10px 10px 5px;}
.bottom-fix-bg ul li a p{margin-bottom:0px;}

.inline-items > * {

    display: inline-block;
    flex-grow: 1;

}

.expertes .w-last-photo li {
    width: 25%;
}
 
  /*===========================================================
    Inner pages
    ======================================================= */
     .daily_quiz_listing{}
    
    .daily_quiz_listing .listing-heading{
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.quiz-row{display: flex;}
.quiz-details-bottom{
    font-size: 15px;
    margin-bottom: 10px;
    color:#a2a2a2;
    position: absolute;
    bottom: 10px;
}
.daily_quiz_listing .list-group-item{border-radius: 10px;
margin-bottom: 10px;}
.quiz-right-icons{
    position: absolute;
    right: 10px;
}
.main-box .ui-block{border:2px solid rgba(224, 222, 222, 0.58);}
.post{border-bottom: 0px;}
.quiz-details{max-width: 60%;}
.quiz-right-icons img{max-width: 20%}
.quiz-right-icons span{float: left;}





/*=====================================================
Final_quiz_listing

========================================================== */
 .quiz_box{
    min-height: 132px;
     background-color: #fff;
    display: block;
    position: relative;
    margin-bottom:15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    height: 131px !important;
}

.quiz_box .quiz_box_image{
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    min-height: 150px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
 
.quiz_box .quiz_box_image img {
    max-height: 120px;
    max-width: 150px;
    padding: 0px;
}
.quiz_box .quiz_box_details{
    padding: 10px 10px 5px 10px;
   
}
.quiz_box_bottom{
    padding: 0px 10px 0px 10px;
   
}
.quiz_box_bottom ul li img{ max-width: 15px; }
.quiz_box_bookmar{
    padding: 10px 10px 5px 10px;
}
.quiz_box_bookmar ul li img{ max-width: 15px; }

    .quiz_box_bookmar a {
    right: 0px;}

   .quiz_box_bookmar .btn-group-sm>.btn, .btn-sm {
    padding: .6rem .6rem;}

.quiz_box_details h2
{font-size: 18px;
font-weight: 400;}
.quiz_box_bookmar{text-align: end;}
.quiz_box_bookmar ul{float: right;}
.quiz_box_bottom{
    position: absolute;
    bottom: 0px;
    top: 70%;
}

.quiz_box_bookmar .list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}
.date {
    font-size: 16px;
    font-weight: 500;
}
.icon-close{fill:#fff;}
.close{opacity: 1}
/*=====================================================================================
   29_oct_final_html_ibt
========================================================================================== */
.mme-experts .w-last-photo li {
    width: 50%;
}
.mme-experts .ui-block-title span{float: right;}

a {
    color: #38a9ff;
}
a:hover {
    color: #38a9ff;
    /* background-color: white */
}
.tab_box {
    position: relative;
   /*  margin-top: -30px; */
    margin-bottom: 25px;
    position: relative;
    z-index: 99;
    text-align: center;
    margin-top: 25px;
}
.tab_box .nav-tabs {

    border-bottom: 0px solid #dee2e6;

}


.quiz-details-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e6ecf5;
}

.quiz-details-list li span {
    font-weight: 700;
    color: #515365;
}
 .header-spacer {
    display: block;
    height: 85px;
} 
.author-thumb img {
    border-radius: 100%;
    overflow: hidden;
    max-width: 50px;
    max-width: 40px;
}
.btn{font-weight:700;}
.list-group{
    max-width: 80%;
    margin: 0 auto;
    padding: 0px 0px 70px;
}

.list-group a{
    background-color: #fff!important;
    font-weight: bold;
    color: #000!important;
    font-size: 20px;
}
.list-group a span{color: #000!important;}

.single-post .post-title {
    font-size: 30px;
    margin-bottom: 35px;
    }

    .page-flow{background: #fff;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        padding-left: 20px;
        border-radius: 5px;
        margin-bottom: 15px;
        width: 99%;
    }
        .breadcrumbs-item a:hover
         {
        color: #38a9ff;
        opacity: 1;
        
        }

@media (max-width: 575.98px) {.quiz_box_bookmar {
    text-align: -webkit-auto;
}}


/******************************************** 31-10-2018 ******************/
.tagg_sect{
    margin: 10px 0px;
    line-height: 2.5;
}
.tagg_sect span{
    /* background-image: linear-gradient( 145deg, #ABDCFF 40%, #0396FF 100%); */
    background-color: #9a9999;
    border-radius: 40px;
    color: #fff;
    padding: 4px 10px 5px;
    margin: 2px;
    font-weight: 400;
    font-size: 14px;
}
.post-additional-info{
    border-top: 0px solid #e0e3e8;
}
/* .is-empty .form-control { padding: 0.8rem; } */
.is-empty .ds_ico{ 
    position: absolute;
    top: 14px;
    right: 6px;
    font-size: 25px;
}
.post-add-icon:active {
    fill: #38a9ff;
    color: #38a9ff;
}
.post-add-icon {
    fill: #717f8f;
    color: #717f8f;
    font-size: 18px;
}

.author-date a{color:#333;}

.author-date .post__date time{color:#b9bed6;}
.author-date .post__date{margin-top:-5px;}
.followers{
    color: #888da8;
    font-weight: 400;
    font-size: 12px;
}
/******************************************** 31-10-2018 ******************/

/******************************************** 01-11-2018 ******************/

.back-to-top{z-index: 99;}
.video_category .tab-content{
    padding: 0px;
}
.ui-block{border: 1px solid #fff;}

.tab_box .btn-box {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 30px;
    margin-bottom: 35px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.1);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,.1);
    -ms-box-shadow: 0 10px 20px rgba(0,0,0,.1);
    -o-box-shadow: 0 10px 20px rgba(0,0,0,.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    border: 1px solid #f3f3f3;
}
.tab_box .btn-box li.active-btn, .pricing-section .btn-box li:hover {
    background-color: #0093dd;
    color: #ffffff;
}


.tab_box .btn-box li {
    position: relative;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin: 0 -3px;
    font-size: 20px;
    color: #3c4858;
    line-height: 26px;
    padding: 14px 22px;
    text-transform: capitalize;
    background: #ffffff;
    border-left: 1px solid #f3f3f3;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

/**************** 02-11-18 ********************/

.author-date{ font-size: 17px; }
/* .choose-exam-list .col-xl-6col .col-lg-6 .col-md-6 .col-sm-6 .col-6{padding-right: 0px;} */
.post-add-icon img, .post-add-icon svg {
    width: 18px;
}
.ui-block-title > *{font-size: 17px;}
.choosed-desc .feeds-sect-left{padding-right: 1px;}
.w-select { padding: 2px 20px 2px 0; }
.choose-exam-list .filter-by-feeds{padding-right: 0px;}
.ui-block-title {line-height: initial;}
.label-floating .form-control, .label-floating input, .label-floating select { padding: 10px; }
.author-date .post__date time.published { font-size: 14px; font-weight: 500;}
.author-date .post__date time {
    color: #1c1d1d;
    font-size: 15px;
}
.post-add-icon:hover{color:#38a9ff;}
/**************** 02-11-18 End ********************/


/*===================sub menu======================================*/
.my-submenu{

    background-color: #fff;
    width: 100%;
    position: fixed;
    left: 0px;
    padding: 0px;
    box-shadow: 0 0 2px 0 rgba(63,66,87,.1);
    z-index: 19;


}
.my-submenu .header-menu {

    margin-left: 0;

}
.my-submenu .header-menu a {
font-size: 13px;

position: relative;

color: #515365;

padding: 15px;

display: block;

line-height: 1;

font-weight: 400;}
/*====================================================End sub menu======================================*/

/*====================================================15-11-18======================================*/
.roshit{
    width: 12%;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
.my-cour .card-header a {
    color: #515365;
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
}
/*====================================================15-11-18======================================*/
.hero-banner-i .container.ibt-home1:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 135deg, #130CB7 10%, #52E5E7 100%);
    opacity: 0.8;
}

.download_app_before:before{
    content: "";
    position: absolute;
    left: 0;
    top: 19.4%;
    width: 100%;
    height: 61.4%;
    background-image: linear-gradient( 135deg, #130CB7 10%, #52E5E7 100%);
    opacity: 0.8;
}
.ans1{
    padding-top:10px;
}
.ans1 .ds1{padding: 4px 10px;}
.download_app_before .mobile_img_home{margin-top: 75px; }

.modal.show .modal-dialog.ibt-foot-cat{    
    overflow-y: auto;
    height: 100%;
}
.socials-shared{
padding: 0px;
margin: 0 auto;
}

/* new section for other  */
.feature-area {
    color: #ffffff;
    background-color: #5e88fc;
    background-image: url(/web_assets/img/feature-bg.png); 
    background-position: bottom -120px center;
    background-repeat: no-repeat;
    background-size: auto 94%;
    margin-bottom: 142px;
}
.page-title.text-center h3{
    font-size: 32px;
    color: #fff;
    font-weight: 400;
}
.section-padding-top {
    padding-top: 40px;
}
/* .btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
} */
.text-center2 {
    text-align: left;  
    margin-top: 50%;
}
.feature-area .page-title .title {
    color: #ffffff;
}
.page-title .title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #8790af;
    font-weight: 600;
}
.text-center.page-title .title:before, .page-title .title:after {
    content: '';
    width: 50px;
    height: 1px;
    display: inline-block;
    background-color: #e1e1e1;
    margin: 0 15px;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}
.text-center.page-title .title:before, .page-title .title:after {
    content: '';
    width: 50px;
    height: 1px;
    display: inline-block;
    background-color: #e1e1e1;
    margin: 0 15px;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}
.space-10 {
    height: 10px;
}
[class|=space] {
    display: block;
    width: 100%;
    overflow: hidden;
}
.space-60 {
    height: 60px;
}
[class|=space] {
    display: block;
    width: 100%;
    overflow: hidden;
}
/* .btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
} */
.team-slide .owl-controls .owl-nav > div, .service-box .box-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 72px;
    background: rgb(72, 44, 191);
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    overflow: hidden;
    z-index: 1;
    color: #5e88fc;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}
.team-slide .owl-controls .owl-nav > div:before, .service-box .box-icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
}
.service-box h4 {
    margin-bottom: 10px;
    color: #fff;
    font-weight: 700;
    border-bottom: 2px solid;
    width: fit-content;
    width: -moz-fit-content;
}
.service-box {
    position: relative;
    padding-left: 100px;
}
.feature-area .mobile-image {
    margin-bottom: -142px;
}
.service-box:hover .box-icon:before{
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%) !important;
    /* color: white */
}
.full-width {
    width: 68%;
    font-weight: 600;
}
.lets-start-pre {
    padding-left: 23%;
}

.hero-banner-content {
    margin-top: -25px;
    }
    .ibt-home1 {
        height: 445px;
    }
    .or { margin: 1rem !important; }
    .socials-shared .social-item { padding: 10px 30px; font-size: 14px; font-weight: 500 }
    /* .team-box{padding: 55px 30px 1px 30px;} */
   
/* new slider IBT Home page */


/*====================================================End sub menu======================================*/
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.team-box {
    position: relative;
    padding: 55px 30px 1px 30px !important;
    -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 40px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
.team-box .team-image {
    position: absolute;
    top: -40px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
    border: 5px solid #ffffff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); 
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}
.team-box h4 {
    color: #5e88fc;
    font-weight: 600;
    font-size: 20px;
}
.team-box h6.position {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

.hero-banner-form h4{
font-size: 18px;
font-weight: 500;
text-align: center; 
}

.or:after {
font-weight: 900;
font-size: 12px;
}

.box-icon img{
    margin-top: -7px;
}
.feed-key .author-thumb{
    float: left;
    padding-right: 20px;
}
.feed-key h4{font-weight: 500;}
.share-mcq-inp input{
    border-radius: 60px;
    border: 1px solid;
}
/* input section share MCQ */

.TextBoxCls label{
    float: left;
    border: 1px solid;
    padding: 5px 7px;
    margin: 4px;
    border-radius: 4px;
}
.TextBoxCls input{width: 80%;}
/* ******** input section share MCQ END*********** */
/* ******** add more section *********** */

.dv-add-more{
    padding: 5px 5px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 60px;
}
.dv-add-more span{
    padding: 10px;
    font-size: 18px;
}
.dv-answ{
    padding: 10px 0px;
    font-size: 16px;
    color: #3a3939;
    float: left;
}
.dv-answ span{
    border: 1px solid #7e8a94;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 10px;
}
.active14{ 
    background-color: #03A9F4;
    color: #fff;
    border: none !important;
}
.TextBoxCls{margin: 10px 0;}
/* ******** add more section END *********** */
/* ******** Tag Frd Category END *********** */
.tag-frdCateg {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.categroy-header{padding: 5px 10px;}
.categroy-header .close {
    padding: 0px 0px;
    margin: 0px 25px 0px 0px;
}

/* Hide the browser's default checkbox */
.tag-frdCateg input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    /* background-color: transparent; */
}

/* Create a custom checkbox */
.tag-frdCateg .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
}

/* On mouse-over, add a grey background color */
/* .tag-frdCateg:hover input ~ .checkmark {
    background-color: #ccc;
} */
.tag-frdCateg input ~ .checkmark {
    background-color: transparent;
    border: 2px solid;
}
/* When the checkbox is checked, add a blue background */
.tag-frdCateg .tag-frdCateg input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.tag-frdCateg .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.tag-frdCateg input:checked ~ .checkmark:after {
    display: block;
}
.heading_popup .modal-body{padding: 10px 23px 10px;}
.heading_popup .modal-body h2{
    font-weight: 400;
    font-size: 20px;
}
/* Style the checkmark/indicator */
.tag-frdCateg .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #2196F3;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.categrory-frd{padding: 0px 8%;}

.select-chk {
    display: block;
    position: relative;
    padding: 5px 15px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.select-chk input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.select-chk .checkmark1 {
    position: absolute;
    top: 10px;
    right: 5%;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 2px;
}
.categroy-header h4{
    color: black;
    font-weight: 400;
}
/* On mouse-over, add a grey background color */
.select-chk:hover input ~ .checkmark1 {
    background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.select-chk input:checked ~ .checkmark1 {
    background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.select-chk .checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.select-chk input:checked ~ .checkmark1:after {
    display: block;
}

/* Style the checkmark/indicator */
.select-chk .checkmark1:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #2196F3;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.feed-key .select-chk h4{
    font-weight: 400;
    padding: 7px;
    font-size: 20px;
}
/* ******** Tag Frd Category END *********** */


/*dfdghjsxdcfgvhbjnsdxfcgvhj*/

.navigation-bar ul li {
     /*padding: 8px;*/
    /*background-color: #0093dd;*/
    width: 125px;
    text-align: center;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 10px;
}

.navigation-bar ul{
    display: flex;
}
.test-drop{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.test-dropdown-content {
    display: none;
    position: absolute;
    right: -65px;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:  4px;
}
.test-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.test-dropdown-content a:hover {background-color: #38a9ff; color: white;}
.test-drop:hover .test-dropdown-content {display: block; cursor: pointer;}
.test-drop:hover li {background-color: #38a9ff;}
.navigation-bar{
    width: 77%;
    padding-left: 27%;
    padding-top: -30px;
    margin-top: -84px;
    margin-left: 115px;
}


.tabs-li li{  
    padding: 5px !important;
    font-size: 17px; 
    padding-left: 25px;
    margin-bottom: 5px;
    border-bottom: 1px solid;
    color: black;
}

.tabs-li li a{  
   
    color: black;
}
.tabs-li li a:hover{
    color: #38a9ff
}
.tabs-li  .active a{
    color: #38a9ff
}
.tabs-li  .active {
    color: #38a9ff
}
.tab-dis{
    /*border: 1px solid darkgray;*/
    padding: 0px;
    /* background-color: white; */
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
}
.post-video{
    border:none;
}
.footer-bottom {
    padding: 20px 0;
    background-color: #f5f6ff;
    border-top: 1px solid #5e88fc;
}

.lnr {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.para{text-align:center;}
.heading-h3 h3{font-weight:400;color: #000;margin-bottom: 20px;}
.next{width: 100%;}
.btn-blue{width: 100%;}
button .close1{
    background: transparent;
    border: none;
    font-size: 23px;
    font-weight: 600;
    padding: 0px;
}
/* login home */

.para a#showregistration b{
    cursor: pointer;
    color: #5ab7ff;
}
.para a#showrlogin b{
    cursor: pointer;
    color: #5ab7ff;
}
.login-title h1{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.cat-ibt-sel {padding: 15px 25px 30px;}
.cat-ibt-sel h6{font-size: 16px;}
.team-box{height: 300px;}
.testimonials-content{
    height: 190px; 
    overflow-x: hidden;
    overflow-y: auto;
}
.side-tabs{position: fixed;}
.main-div-1{
    box-shadow: 0 0 10px 0 rgba(63, 66, 87, .4);
    margin: 0px 10px;
    /* margin-right: 0px; */
    height: 489px;
    position: fixed;
    background-color: #2196f321;
}
.main-div-2{box-shadow: 0 0 10px 0 rgba(63, 66, 87, .4);
    /* height: 83px; */
    margin-left: -4px;
    margin-top: -17px;
    padding-top: 30px;
background-color: #a4dbfb}
    .top-padding{
        margin-top: 20px;
    }
    .main-div-1 ul li a{
        font-weight: bold;
        font-size: 17px;
    }
    .main-div-1 ul li img{
        width:30px;
        height: 35px;
    }
    .active11{
  background-color:#0080ff;
  /*color:#fff;*/

}
.inline-items1 {
    margin-bottom: 20px;
    margin-top: 16px !important;
}
.title11{
    padding: 15px;
    font-size: 25px;
    font-weight: 500
}
.btn-primary1 {
    color: #fff;
    background-color: #0080ff;
    border-color: #0080ff;
}
.tab-pane ul{
    list-style: inherit;
    margin-left: 25px;
}
.h4-h4{
    font-size: 25px;
    font-weight: 500
}
.add-options-message {
    padding: 20px 45px;
    float: left;
    width: 44%;
}
.key-note li{
    color: black
}
.post-video .video-content {
    padding: 20px; 
    overflow-x: hidden;
    overflow-y: auto;
    height: 172px;
    }

.revi-of-dy{
    font-weight: 500;
    margin-top: 20px;
}

/* footer */
.footer-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.contant-footer{
    margin-bottom: 80px;
}

.skip-btn{
    margin-top: -51px;
    font-size: 18px;
    margin-right: 15px;
    float: right;
}
.last-para{
    padding: 5px;
border: 1px solid darkgray;
border-radius: 4px;
background-color: #69b2e9;
color: black;
}
.btn-primary2 {
    color: #030303;
    background-color: #0080ff00;
    border-color: #0080ff00;
    }
    .btn-primary2:hover{
        color: #0080ff;
    }
    .tab{
        width: 800px
    }

    
.slider-img-inner {
	width: 100%;
	height: 500px !important;
}
.para-title{
	color: #515365;
	font-weight: 500;
	font-size: 17px; 
	margin: 0 auto;
}
.ul-custom{display: grid;}
.slider-img img{
    width:100%; 
    height: 400px !important;
}
.select-content{
    width: 35%; 
    background-color: white;
}
.title{
    color: #515365;
font-weight: 500;
font-size: 20px; 
margin: 0 auto;
}
.title1{
    color: white;
font-weight: bold;
font-size: 17px; 
margin-right: 7px; 
}
.w-select .title1 {
    float: left;
    line-height: 40px;
    margin-right: 15px;
}
.filter-by-feeds{
    margin-bottom: 10px;
}
.custom-fa-fa{
    display: none;
}
.add-options-message .options-message i{font-size:20px;}
.tag-fir-more{
    padding: 0px 5px;
    margin-left: 15px ;
    float: left;
}
.post-img-path{margin-left: 30px;}
.mob-content{
    min-height: 100%;padding: 20% 0%;
}
.post-img-path img{
width: 15% ;
float: left;
padding-right: 20px;
}
.img-down{
    width: 4%;
}
.breadcrumbs-item .fc-icon-right-single-arrow::after{
top: 0px;
}
.profile-ibt{padding: 25px;}
.notification-list .notification-event span{
color: gray;
}
.span-title{
		font-size: 14px;
		margin-left: -2px;
	}
	.span-title-icon{
		float: right;
		color: #fff; 
		padding: 10px;
	}
@media (min-width: 360px) and (max-width: 768px) {
  
   /* .Navbar__Items {
    display: block !important;
    }*/
    .span-title{
		font-size: 14px;
		margin-left: -3px;
	}
    .Navbar__Items--right {
    margin-left: -138px !important;
    margin-top: 67px;
    display: none !important;
    }
    .custom-fa-fa{
    display: block !important ;
    position: absolute;
    right: 25px;
    font-size: 27px;
    top: 23px;
    color: #0093dd;
    }
    .nav {
    display: -webkit-inline-box;
    padding-left: 0;
    }
    .scroll-box {
    width: 110%;
    height: 125px;
    overflow-y: scroll;
    margin-left: -13px;
    }
    .login-hidden{
        display: none;
    }
    .text-center1 {
    text-align: center!important;
    width: 33.33%;
    }
    .lnr-chevron-left:before {
    content: "\e875";
    position: relative;
    top: -15px;
    }
    .lnr-chevron-right:before{
    position: relative;
    top: -15px;
    }
    .team-slide .owl-controls .owl-nav > div {
    position: absolute;
    top: 50%;
    left: auto;
    right: 98% !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
    }
    .team-slide .owl-controls .owl-nav > div.owl-next {
    right: auto;
    left: 90% !important;
    }
    .owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
    margin-left: 21px;
    }
    .feature-area .mobile-image {
    margin-bottom: -30px;
    margin-top: -50px;
    }
    .team-slide .owl-controls .owl-nav > div{
    width: 40px;
    height: 40px;
    }
    .hero-banner-i{
    width: 104%;
    }
    .section-padding-top{
    width: 104%;
    }
    .team-box { 
    width: 290px;
    }
    .testimonials-mob{
    margin-top: -100px !important;
    padding-bottom: 94px !important;
    }
    .img-mob{
    display: none;
    }
    .text-center2 {
    text-align: left;
    padding: 0px 26px;
    width: 227%;
    margin-top: 20px;
    }
    .download_app_before:before {
    content: "";
    position: absolute;
    left: 0;
    top: -0.2%;
    width: 104%;
    height: 100.2%;
    background-image: linear-gradient( 135deg, #130CB7 10%, #52E5E7 100%);
    opacity: 0.8
    }
    .img-down{
    width: 13% !important;
    position: relative;
    left: 4px;
    }
    .row-custom{
    display: -webkit-inline-box !important;
    width: 100%;
    margin-left: 20px;
    }
    .ans1 {
    padding-top: 10px;
    width: 65%;
    margin-left: 4px;
    }
    .download-app .form-inline {
    padding: 0px;
    background: white; 
    margin: 22px -120px;
    border-radius: 5px; 
    margin-left: 53px;
    padding-top: 5px;
    }
    .download-app{
        position: relative;
        top: -94px;
        bottom: 94px;
    }
    .btn-res{
        margin-left: 6px;
        padding: 4px 10px !important;
    }
    .ibt-home1 {
    height: 460px !important;
    }
    header{
        height: 78px;
        margin-top: -1px;
    }
    .hero-banner-content-title h2 {
    color: #fff;
    max-width: 100%;
    padding-top: 45px;
    text-align: center;
    }
    .img-fluid1{
        margin-left: 10px;
    }
    /*popup css responsive*/
    .socials-shared .social-item {
    padding: 10px 28px;
    font-size: 14px;
    font-weight: 500;
    }
    .registration-login-form {
    padding-top: 10px;
    padding-left: 0;
    }
    /* end*/
    .page-flow {      
    margin-bottom: 5px; 
    margin-top: 10px;
    }
    .w-select1 {
    padding: 2px 20px 10px 0; 
    width: 225%;
    text-align: center;
    display: flex;
    }
    .w-select1 .title1 {   
    width: 54%;
    }
    .select-content{
    width: 100% !important;  
    } 
    /*footer-fix-bottom*/
    .list-inline>li {
    display: inline-block;
    padding-right: 0px !important;
    padding-left: 0px ;
    }
    .list-inline img{
        max-width: 50%;
    }
    .slider-img img{
        height: 200px;
    }
    .carousel-inner{
        height: 200px;
    }
    .carousel-indicators{
        position: absolute;
        left: 30px;
    }
    .list-group{
        padding-bottom: 91px;
    }
    .sub-sec{
        padding-left: 12% !important;
    }
    .list-group a li{
        font-size: 12px !important;
    }
    .right-fa{
        font-size: 22px !important;
    }
    .sub-sec-span{
        width: 50% !important;
    }
    .image {
        width: 17%!important;
        margin-left: 41.5% !important;
    }
    .page-flow1{ 
        font-size: 14px;
        padding-left: 20px;  
        width: 100%;  
    }
    .breadcrumbs-item {
        display: inline-block;
        margin-bottom: 0;
        font-size: 11px;
        margin-left: -3px;
    }
    .breadcrumbs-item a {
        margin-right: 0px;
    }
    .list-group2 {
        max-width: 100% !important; 
        margin-left: 10px !important;
    }
    .button4{
        font-size: 10px !important;
        padding: 7px !important;
        margin-left: 43% !important;
    }
    .main-div-1{
        position: inherit;
    }
    .main-div-1 ul li a{
        font-size: 13px !important;
    }
    .ul-custom{
        display: -webkit-box !important;
    }
    .custom-nav{
        width: 25% !important;
    }
    .main-div-1 ul li img {
        width: 15px;
        height: 18px;
        margin-left: 32%;
    }
    .main-div-1{
        height: 200px;
        width: 100%;
    }
    .icons { 
    display: none;
    }
    .h4-heading{
        font-size: 20px !important;
    }
    .content-height p{
        font-size: 12px !important;
    }
    .top-padding{
        margin-bottom: 20px;
    }
    .model-adjust{
        position: relative;
        left: 17px;
        width: 88%;
    }
    .hidden-page-flow{
        display: block;
    }
    .hidden-page-flow1{
        visibility: hidden;
    }
    .quiz_box .quiz_box_image img{
       width: 75%;
       margin-left: 17px;
    }
    .quiz_box{
        margin-bottom: 40px !important;
    }
    .quiz_box_bookmar{
    padding: 0 !important;
    margin-top: -48px !important;
    margin-right: 10px !important;
    }
    .quiz_box_bookmar a {
    right: -62px;
    float: right;
    bottom: 4px;
    }
    .quiz_box .quiz_box_details {
    height: 33px;
    overflow: hidden;
    }
     .quiz_box .quiz_box_details h2{ 
    font-size: 16px;
     }
     .single-post-additional{
        display: -webkit-box;
     }
     .single-post .post-title{
        font-size: 18px;
     }
     .daily_dose_ds h5{
        font-size: 12px !important;
     }
     .daily_dose_ds{
        width: 48%;
     }
     .daily_dose_ds img{
        width: 75% !important;
     }
     .w-select2 { 
    margin-top: -40px;
    }
    .post-thumb img {
    height: auto !important;
    width: 100%;
    }
    .post-content p{
        font-size: 13px;
    }
    .inline-items {
        margin-left: -12px;
    }
    .navigation-bar {
    width: 100%;
    padding-left: 0; 
    margin-top: 0;
    margin-left: 0;
    }
    .navigation-bar ul {
    display: -webkit-inline-box;
    }
    .navigation-bar ul li { 
    width: 76px;  
    font-size: 10px;
    }
    .sub-cat-exm .sub-link-nav1 .nav-item a{
        font-size: 11px !important;
    }
    .sub-link-nav1{
    width: 25% !important;
    margin-left: -75%!important;
    }
    .sub-cat-exm .sub-link-nav1 .nav-item{
        padding: 7px 0px !important;
    }
    .post-video11{
        background-color: white !important;
    }
    .tab-dis {
        background-color: #ffffff00 !important;
    }
    .sub-cat-exm .tab-content{
        padding: 0px 0px !important;
    }
    .video-thumb1 img {
    width: 32% !important;
    margin: 5px 104px !important;
    border-radius: 50%;
    }
    .post-video .video-content .title{
        text-align: center;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .subject_video_box .video_title span{
        font-size: 12px !important;
    }
    .sub-cat-exm .heading-unimg h2{
        font-size: 20px !important
    }
    .modal11{
    	padding: 15px;
    }
    .post-additional-info{
    	display: contents;
    	
    }
    .post-additional-info a{
    	font-size: 15px;
    	vertical-align: baseline;
    }
    .a { 
    padding-left: 6px !important; 
    padding-top: 3px;
    margin: -4px auto;
    margin-left: -7px;
	}
	.comment-form .post__author{
		    margin: 4px;
	}
	.comment-form{
		border: none;
	}
	.ui-block{
		margin-bottom: 15px;
	}
	.quiz_box .quiz_box_image img{

	}
	.tab_box .btn-box li{
		font-size: 14px;
		padding: 6px 19px;
	}
	.tab_box .btn-box{
		margin-bottom: 0
	}
	.slider-img-inner{
		height: 100% !important;
	}  
	.span-title-icon{
		float: right;
		color: #fff; 
		padding: 10px;
	}
	.full-width1{
		max-width: 100%;
	}
	.footer-space{
		    display: block;
    height: 80px;
	}
	.video-dis{
		font-size: 13px;
		margin-top: -38px
	}
	.suggested h1{
		font-size: 22px;
	}
	.post-video .video-content {
    padding: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 134px;
	}
}